server:
  port: 8080

spring:
  application:
    name: shyam

  datasource:
    url: jdbc:mysql://localhost:3306/shyam_jewellers
    username: root
    password: Akash@5473
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: akashkumarcucek@gmail.com
    password: znxycljsrrkqppmb
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  redis:
    host: localhost
    port: 6379